.div_box{
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    margin: 25px;
    position: center;
    margin: 0 auto; \\centralize the div
}

input{
	width: 200px;
}

.tr_design{

	background-color: #FFF961;
	font-weight: bold;
}

thead{
	text-align: center;
}

tbody{
	text-align: center;
}