html, body {
    background-color: #E9ECEF;
    color: #3D4245;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.a-links {
    font-size: 20px;
}
.div-content{
  padding: 15px;
}

.table-th{
  text-align: center;
  font-size: 17px;
}

.table{
  color: #3D4245;
}

.p-padding{
  padding: 15px;
}

.navbar-main{
  padding-top: 0px;
  padding-bottom: 10px;
  //background-color: #e3f2fd;
}

.jumbotron-main{
  padding-top: 10px;
}

.div-adm{
  padding-top: 50px;
}
.label-pad{
  padding: 10px;
  font-size: 20px;
}

.container  {
  display: flex;
  position: absolute;
  top: 0;
  left: 50;
  height: 100%;
  width: 100%;
}

.container .row {
  margin: 0 auto;
}
