html, body {
    background-color: #E9ECEF;
    color: #3D4245;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
/*
.full-height {
    height: 50vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 60px;
} */

.a-links {
    //color: #636b6f;
    //padding: 0 25px;
    font-size: 20px;
    //border-top: 10px;
    //font-weight: 600;
    //letter-spacing: .1rem;
    //text-decoration: none;
    //text-transform: uppercase;
}
.div-content{
  padding: 15px;
}

.table-th{
  text-align: center;
  font-size: 17px;
}

.table{
  color: #3D4245;
}

.p-padding{
  padding: 15px;
}
/* .m-b-md {
    margin-bottom: 5px;
}

.navbar-main{
  padding-top: 0px;
  padding-bottom: 10px;
  //background-color: #e3f2fd;
}

.jumbotron-main{
  padding-bottom: 0px;
} */
